div.middle {
	position: absolute;
	top: 50%;
	left: 50%;
}
div.middle.middle-hauto {
	height: auto;
}
div.middle.middle-h100 {
	height: 100px;
	margin-top: -50px;;
}
div.middle.middle-h150 {
	height: 150px;
	margin-top: -75px;;
}
div.middle.middle-h200 {
	height: 200px;
	margin-top: -100px;;
}
div.middle.middle-h250 {
	height: 250px;
	margin-top: -125px;
}
div.middle.middle-h350 {
	height: 350px;
	margin-top: -175px;
}
div.middle.middle-h450 {
	height: 450px;
	margin-top: -225px;
}
div.middle.middle-h550 {
	height: 550px;
	margin-top: -275px;
}

@media all and (min-width: 101px) {
    div.middle.middle-w100 {
        width: 100px;
        margin-left: -50px;;
    }
}
@media all and (min-width: 151px) {
    div.middle.middle-w150 {
        width: 150px;
        margin-left: -75px;;
    }
}
@media all and (min-width: 201px) {
    div.middle.middle-w200 {
        width: 200px;
        margin-left: -100px;
    }
}
@media all and (min-width: 251px) {
    div.middle.middle-w250 {
        width: 250px;
        margin-left: -125px;
    }
}
@media all and (min-width: 351px) {
    div.middle.middle-w350 {
        width: 350px;
        margin-left: -175px;
    }
}
@media all and (min-width: 451px) {
    div.middle.middle-w450 {
        width: 450px;
        margin-left: -225px;
    }
}
@media all and (min-width: 551px) {
    div.middle.middle-w550 {
        width: 550px;
        margin-left: -275px;
    }
}

@media all and (max-width: 100px) {
    div.middle.middle-w100 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}
@media all and (max-width: 150px) {
    div.middle.middle-w150 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}
@media all and (max-width: 200px) {
    div.middle.middle-w200 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}
@media all and (max-width: 250px) {
    div.middle.middle-w250 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}
@media all and (max-width: 350px) {
    div.middle.middle-w350 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}
@media all and (max-width: 450px) {
    div.middle.middle-w450 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}
@media all and (max-width: 550px) {
    div.middle.middle-w550 {
        width: 100%;
        position: static;
        top: 0;
        left: 0;
        margin-top: 0 !important;
    }
}


input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=month],
input[type=number],
input[type=search],
input[type=tel],
input[type=week],
textarea {
	padding: 5px;
	border-radius: 5px;
}

input[type=text].full,
input[type=email].full,
input[type=url].full,
input[type=password].full,
input[type=time].full,
input[type=date].full,
input[type=datetime].full,
input[type=datetime-local].full,
input[type=month].full,
input[type=number].full,
input[type=search].full,
input[type=tel].full,
input[type=week].full,
textarea.full {
	width: 100%;
}

/* Button from Bootstrap with forced values! */
.btn.btn-forced {
	display: inline-block !important;
	padding: 6px 12px !important;
	margin-bottom: 0 !important;
	font-size: 14px !important;
	font-weight: normal !important;
	line-height: 1.428571429 !important;
	text-align: center !important;
	white-space: nowrap !important;
	vertical-align: middle !important;
	cursor: pointer !important;
	border: 1px solid transparent !important;
	border-radius: 4px !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-o-user-select: none !important;
	user-select: none !important;
}

.btn.btn-forced.navbar-btn {
    margin-top: 10px !important;
}

@media all and (max-width: 720px ) {
    .pull-none-mobile {
        float: none !important;
    }
}